<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="bower_components/kendoui/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="bower_components/kendoui/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="bower_components/kendoui/styles/kendo.default.mobile.min.css" />

    <script src="bower_components/kendoui/js/jquery.min.js"></script>
    <script src="bower_components/kendoui/js/angular.min.js"></script>
    <script src="bower_components/kendoui/src/js/kendo.all.js"></script>
    <script src="bower_components/kendoui/js/kendo.timezones.min.js"></script>
</head>
<body>
<div id="example" ng-app="KendoDemos">
    <div ng-controller="MyCtrl">
        <div kendo-scheduler k-options="schedulerOptions">
            <span k-event-template class='custom-event'>{{dataItem.title}}</span>
            <div k-all-day-event-template class='custom-all-day-event'>{{dataItem.title}}</div>
        </div>
    </div>

<style>
    .custom-event {
        color: #fff;
        text-shadow: 0 1px 0 #000;
    }
    .custom-all-day-event {
        text-align: center;
        text-transform: uppercase
    }
</style>
</div>

<script>
    //http://docs.telerik.com/kendo-ui/api/javascript/ui/autocomplete
    
    
    function renderTitle(){
        
            var arr = [
                            {id:1, name: 'Jão da silva'},
                            {id:2, name: 'Maria da silva'}
         
                ];
        
        
                $("input[data-bind='value:title']").kendoAutoComplete(
                {
                    dataTextField: "name",    
                    dataSource:arr,
                    filter: "contains",
                })
    }
    
    
    
  angular.module("KendoDemos", [ "kendo.directives" ])
    .controller("MyCtrl", function($scope){
        $scope.schedulerOptions = {
            date: new Date("2013/6/13"),
            startTime: new Date("2013/6/13 07:00 AM"),
            height: 600,
            views: [
                "day",
                { type: "workWeek", selected: true },
                "week",
                "month",
            ],
            timezone: "Etc/UTC",
             edit: function(e) {
                 renderTitle();
                    console.log("Editing...", e.event.title);
                },
            dataSource: {
                batch: true,
                transport: {
                    read: {
                        url: "//demos.telerik.com/kendo-ui/service/tasks",
                        dataType: "jsonp"
                    },
                    update: {
                        url: "//demos.telerik.com/kendo-ui/service/tasks/update",
                        dataType: "jsonp"
                    },
                    create: {
                        url: "//demos.telerik.com/kendo-ui/service/tasks/create",
                        dataType: "jsonp"
                    },
                    destroy: {
                        url: "//demos.telerik.com/kendo-ui/service/tasks/destroy",
                        dataType: "jsonp"
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {models: kendo.stringify(options.models)};
                        }
                    }
                },
                schema: {
                    model: {
                        id: "taskId",
                        fields: {
                            taskId: { from: "TaskID", type: "number" },
                            title: { from: "Title" },
                            start: { type: "date", from: "Start" },
                            end: { type: "date", from: "End" },
                            startTimezone: { from: "StartTimezone" },
                            endTimezone: { from: "EndTimezone" },
                            description: { from: "Description" },
                            recurrenceId: { from: "RecurrenceID" },
                            recurrenceRule: { from: "RecurrenceRule" },
                            recurrenceException: { from: "RecurrenceException" },
                            ownerId: { from: "OwnerID", defaultValue: 1 },
                            clientId: {from:"ClientID", defaultValue:1},
                            serviceId: {from:"ServiceID", defaultValue:1},
                            isAllDay: { type: "boolean", from: "IsAllDay" }
                        }
                    }
                },
                filter: {
                    logic: "or",
                    filters: [
                        { field: "ownerId", operator: "eq", value: 1 },
                        { field: "ownerId", operator: "eq", value: 2 }
                    ]
                }
            },
            resources: [
                
                {
                    field: "ownerId",
                    title: "Owner",
                   
                    dataSource: [
                        { text: "Alex", value: 1, color: "#f8a398" },
                        { text: "Bob", value: 2, color: "#51a0ed" },
                        { text: "Charlie", value: 3, color: "#56ca85" }
                    ],  multiple: true
                },
                
                {
                    field: "clientId",
                    title: "Client",
                    dataSource: [
                        { text: "Zé", value: 1, color: "#f8a398" },
                        { text: "Jão", value: 2, color: "#51a0ed" },
                        { text: "Maria", value: 3, color: "#56ca85" }
                    ]
                    
                },
                
                 {
                    field: "serviceId",
                    title: "Service",
                    dataSource: [
                        { text: "Passar Ismart", value: 1, color: "#f8a398" },
                        { text: "Limpar azunha", value: 2, color: "#51a0ed" },
                        { text: "Pintar os zóios", value: 3, color: "#56ca85" }
                    ]
                }
            ]
        };
      })
</script>


</body>
</html>